/* CSS for Checkout Page */
.checkout {
    padding:10px !important;
    background-color:#fff;
    margin:0 !important;
}

.checkout.woocommerce-checkout {
    align-content: center;
    display:flex;
}

.input-text {
    height:2em;
    display:block;
}

.form-row{
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    width:170px !important;
}

.woocommerce-checkout-payment {
    background-color:#fff !important;
}

.body {
    background-color: #ebe9eb;
    
}



.breaker {
    display:block;
}

.woocommerce-privacy-policy-text {
    width:600px;
}

@media(max-width:1200px) {
    .woocommerce-privacy-policy-text {
        width:500px;
    }
}

@media(max-width:921px) {
    .woocommerce-privacy-policy-text {
        width:350px;
    }
}

@media(max-width:770px) {
    .woocommerce-privacy-policy-text {
        width:100px;
    }
}

.header {
    font-size:2em !important;
    font-weight: bolder;
    margin:20px 0 0 0 !important;
}

.woocommerce-billing-fields h3 {
    margin-top:20px;
}

#order_review_heading {
    margin-top:78px !important;
}

@media(max-width:1200px) {
    .form-row.form-row-last.validate-required {
        float:none !important;
    }
}

.color {
    color:#fff !important;
}